* {
    padding: 0;
    margin: 0;
}

.container-section {
    margin-top: 6rem;
}


/* section header font size */

.h1-size {
    font-size: 2.5rem;
}


/* hover effect added */

.hover-effect:hover {
    background-color: rgb(58, 57, 57);
    color: white;
    transition: .5s;
}